<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<RunConfiguration>
		<EnvironmentVariables>
			<USERNAME></USERNAME>
			<PASSWORD></PASSWORD>
			<COUPON></COUPON>

			<FIRSTNAME></FIRSTNAME>
			<LASTNAME></LASTNAME>
			<STREET></STREET>
			<CITY></CITY>
			<POSTCODE></POSTCODE>
			<PHONENO></PHONENO>
			
			
			
		</EnvironmentVariables>
	</RunConfiguration>
</RunSettings>